/*---------- Page Values ----------*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, .full-menu {
    height: 100%;
    width: 100%;
}

header, section, footer {
    padding: 2rem;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}

.temp-banner img {
    width: 100%;
}

/*---------- Header and Nav Section ----------*/

header {
    background: url("../images/nlm-cashier.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    position: relative;
    /* box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4); */
}

header img {
    max-width: 300px;
}

#navbarNav {
    justify-content: flex-end;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 0 0 5px;
}

.nav-li {
    color: #f0f1f1 !important;
    font-size: 1.2rem;
}

.nav-li:hover {
    color: #fff !important;
    text-decoration: underline;
}

.nav-link div {
    font-size: 1.4rem;
    background: #f0f1f1;
    color: #76be43;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 18px;
}

.nav-link div:hover {
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-link div:active {
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.nav-link div p {
    margin: 0;
}

.nav-link p:hover {
    text-decoration: underline;
}

/*--- New Menu ---*/

#menuToggle {
    display: none;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #f0f1f1;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #fff;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #76be43;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}

#menu li:hover {
    border-bottom: 2px solid #fff;
}

#menuToggle input:checked~ul {
    transform: translate(-100%, 0);
}

/*---------- Form Section ----------*/

.form-div {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    margin: 80px 0;
}

.email-form, .form-message {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.email-form input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.email-form input:last-of-type {
    background-color: #f1e301;
    border: none;
    outline: none;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.email-form input:last-of-type:hover {
    background-color: #fff000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.email-form input:last-of-type:active {
    background-color: #fff000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.email-form p {
    color: #f0f1f1;
    margin: 0;
    font-size: 14px;
}

.form-error {
    background-color: #fdb5b5;
}

.inp-field:focus::placeholder {
    color: transparent;
}

.form-message {
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    display: none;
}

/*---------- Icon Section ----------*/

#icon-div {
    background: url("../images/logo-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#icon-div .section-container {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
}

#icon-div .section-container div {
    text-align: center;
    color: #76be43;
    width: 33%;
}

#icon-div .section-container div h2 {
    margin-bottom: 0;
    font-size: 1.6rem;
}

.icon {
    margin-bottom: 20px;
    max-width: 170px;
}

/*---------- Main Section ----------*/

/* #testimonial-div {
    background-color: #f0f1f1;
    ;
} */

.section-header {
    font-size: 2.9rem;
    margin: 3rem 0;
    text-align: center;
}

.main-header {
    /* font-size: 1.5rem; */
    margin: 3rem 0;
    text-align: center;
}

#main-vid-div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-vid-div>div>h2:last-of-type {
    margin-top: 0;
}

.main-vid {
    width: 85%;
    height: 100%;
}

.vid-row {
    margin-bottom: 2rem;
}

.vid-row:last-of-type {
    margin-bottom: 0;
}

.vid-desc {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vid-desc h5 {
    margin-bottom: 18px;
    font-size: 1.4rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid-row-2 div:first-of-type, .vid-row-4 div:first-of-type {
    order: 2;
}

.vid-row-2 div:last-of-type, .vid-row-4 div:first-of-type {
    order: 1;
}

/*---------- Hardware Section ----------*/

#hardware-div {
    width: 100%;
    background-color: #f0f1f1;
    display: flex;
}

#hardware-div div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 35px 125px;
    text-align: center; */
}

#hardware-div div h5 {
    font-weight: bold;
}

#hardware-div div h6 {
    margin-bottom: 20px
}

.card-reader {
    width: 50%;
}

.start-here-btn {
    background-color: #f1e301;
    padding: 0.7rem 1.8rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.start-here-btn:hover {
    background-color: #fff000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.start-here-btn:active {
    background-color: #fff000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
    outline: none;
}

/*---------- FAQ Section ----------*/

.faq-item {
    margin-bottom: 3rem;
}

.faq-item h5 {
    font-size: 1.6rem;
}

.faq-item h5:first-of-type {
    font-weight: bold;
}

.faq-item h5:last-of-type {
    color: #76be43;
}

/*---------- Signup Section ----------*/

#signup-banner {
    background: url("../images/people-banner-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-top: 43.44%;
    position: relative;
}

.sign-up-btn {
    background-color: #f1e301;
    padding: 1.2rem 2.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 2.2rem;
    /* font-weight: bolder; */
    position: absolute;
    top: 45%;
    right: 15%;
}

.sign-up-btn:hover {
    background-color: #fff000;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.sign-up-btn:active {
    background-color: #fff000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
    outline: none;
}

/*---------- Footer ----------*/

footer {
    background-color: #76be43;
    color: #fff;
    position: relative;
}

.footer-row {
    margin: 3rem 0;
}

.footer-col-1 {
    margin-right: 150px;
    min-width: 300px;
}

.logo-white {
    width: 400px;
    margin-bottom: 3rem;
}

.footer-col-1 h6 {
    width: 200px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 22px;
}

.footer-col-1 button {
    background-color: #f0f1f1;
    color: #76be43;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
}

.footer-col-1 button:hover {
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.footer-col-1 button:active {
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
    outline: none;
}

.footer-col-2 {
    display: flex;
    /* flex-direction: column; */
    align-items: baseline;
}

.footer-col-2 a {
    color: #f0f1f1;
    font-size: 18px;
}

.footer-col-2 h3 {
    margin: 30px 0;
    font-weight: bold;
}

.footer-col-2 h4 {
    /* font-weight: bold; */
    margin-right: 15px;
}

.footer-col-2 div i {
    font-size: 40px;
    margin-right: 15px;
}

.footer-col-2 a:hover, .footer-col-2 div i:hover {
    color: #fff;
}

.corp-link {
    font-size: 14px;
}

.corp-link a {
    color: #f0f1f1;
}

.corp-link a:hover {
    color: #fff;
}

.footer-logo {
    position: absolute;
    bottom: 0px;
    right: 0;
    max-width: 475px;
}

#top-btn {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: -72.5px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 10px 0 0 10px;
    background: #76be43;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    opacity: .5;
    transition: 3ms ease-in;
}

#top-btn div:first-of-type {
    padding: 10px 15px;
}

#top-btn div:last-of-type {
    padding-right: 15px;
}

#top-btn h4 {
    margin: 0 10px;
}

#top-btn:hover {
    opacity: 1;
    transition: .5s all ease-in-out;
    transform: translateX(-72.5px);
}

@media (min-width: 1441px) {
    header {
        background-position-y: -110px;
    }
}

@media (max-width: 1024px) {
    header {
        background-position-x: right;
    }
    .section-header {
        font-size: 2.4rem;
    }
    #hardware-div div h5 {
        font-size: 1rem;
    }
    .vid-desc h5 {
        font-size: 1.2rem;
    }
    .faq-item h5 {
        font-size: 1.3rem;
    }
    .sign-up-btn {
        font-size: 1.8rem;
    }
    .footer-row {
        margin: 2rem 0 3rem 0;
    }
}

@media (max-width: 991px) {
    #menuToggle {
        display: block;
    }
    .vid-row-2 div:first-of-type, .vid-row-4 div:first-of-type {
        order: 1;
    }
    .vid-row-2 div:last-of-type, .vid-row-4 div:last-of-type {
        order: 2;
    }
    #hardware-div {
        display: none;
    }
    #faq-div {
        background-color: #f0f1f1;
    }
    .faq-item {
        text-align: center;
    }
    .footer-logo {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        background-position: -30px;
    }
    #navbarNav {
        margin-top: 1rem;
    }
    .form-div {
        justify-content: center;
        margin: 200px 0 0 0;
    }
    .icon {
        width: 140px;
    }
    .section-header {
        font-size: 2rem;
        margin: 2rem 0;
    }
    .vid-row {
        margin-bottom: .5rem;
    }
    .video-container {
        margin-bottom: 1rem;
    }
    .vid-desc {
        padding: 20px 45px 30px;
    }
    .faq-item {
        margin-bottom: 2rem;
    }
    .sign-up-btn {
        font-size: 1.5rem;
    }
    .footer-row {
        margin: 2rem 0 2rem 0;
    }
    .logo-white {
        width: 300px;
        margin-bottom: 2.5rem;
    }
    .footer-col-2 h4 {
        font-size: 1.3rem;
    }
    .footer-col-2 div i {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .temp-banner {
        display: none;
    }
    header, section, footer {
        padding: 1rem;
    }
    header {
        background-position-x: -70px;
    }
    header img {
        max-width: 230px;
    }
    .form-div {
        justify-content: center;
        margin: 220px 0 0 0;
    }
    .icon {
        width: 100px;
    }
    #icon-div .section-container div h2 {
        font-size: 1.3rem;
    }
    .section-header {
        font-size: 1.7rem;
        margin: 1.7rem 0;
    }
    .vid-desc h5 {
        font-size: 1rem;
    }
    .faq-item h5 {
        font-size: 1rem;
    }
    .sign-up-btn {
        font-size: 1rem;
        opacity: .7;
        top: calc((100% - 56px) / 2);
        right: calc((100% - 143px) / 2);
    }
    .sign-up-btn:hover {
        opacity: 1;
    }
    .footer-col-1 {
        margin-bottom: 1.5rem;
    }
    #signup-banner, .footer-col-1 h6, .footer-col-1 button {
        display: none;
    }
    .footer-col-1 {
        margin-bottom: 0;
    }
    .footer-col-2 a {
        font-size: 16px;
    }
    #top-btn {
        opacity: 0.8;
    }
    #top-btn:hover {
        transition: none;
        transform: none;
    }
    footer {
        padding: 25px;
    }
    .logo-white {
        width: 250px;
    }
}

@media (max-width: 375px) {
    header {
        background-position-x: -135px;
    }
    #icon-div .section-container div h2 {
        font-size: 1.1rem;
    }
    .vid-desc {
        padding: 20px 25px 30px;
    }
    .footer-col-2 h4 {
        font-size: 1.2rem;
    }
}